.agrupador{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#espai {
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}
#joc {
    background-color: black;
    color: white;
    width: 200px;
    text-align: center;
    margin-right: 1rem;
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}
#seguent {
    margin-left: 1rem;
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}

